.ico{
    width: 120px;
    
}
.image{
    margin-top:20px;
    width:120px;
    border-radius: 123px;
}

.control{
    margin-top:19px;
    padding: 3px 4px;
    width:230px;
    margin-left:31rem;
}

.text-center{
    margin-top:25px;
}

#inputan{
    width:380px;
}
.container{
    margin-top:20px;
    margin-left:31%;
}

.container .row .col .form-label{
    margin-left:10px;
}

.container .row .col {
    margin-top:28px;
}

.container .row .col .tentang{
    width:530px;
}

.container .row .col .btn-primary{
    width:200px;
    margin-left:14%;
}

.container .row .col .btn-danger{
    margin-top:6%;
    width:200px;
    margin-left:14%;
}

